.App {
  font-family: sans-serif;
  text-align: center;
}

ul {
  display: flex;
}

li {
  list-style: none;
  margin-right: 1rem;
}

a {
  text-decoration: underline;
  color: rgb(50, 92, 207);
}

.active {
  text-decoration: none;
  font-weight: bold;
  color: rgb(43, 32, 201);
}
